body{
    background-image: url("qtr001.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:center;
    
}




.special1{ padding-top: 55px;
    
    
}

.special1 :hover{ background-color:rgb(175, 99, 99);
    
}


.nav-pills{
    width: fit-content;
}

.flex-column{
    float: left;
    list-style-type: none;
    background-color: maroon;
    height: 620px;
    position: sticky;
    position: fixed;

    
    
    

}

#image{
    
    float: left;
    padding-left: 0px;
    

}

span{
    color:white;
}

h1{
    padding-left: 90px;
    text-align: center;
    padding-top: 125px;
    color:maroon ;
    font-size: 100px;
}

p{
    padding-left: 200px;
    color: rgb(145, 33, 33);
    font-size: 30px;
}

#txt{
    padding-left: 100px;
    color: rgb(145, 33, 33);
}


